<div class="footer d-flex justify-content-center align-items-center">
    <div class="text-center">
        <div class="d-flex justify-content-center align-items-center mb-3">
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-x-twitter mx-5"></i>
            <i class="fa-brands fa-google"></i>
        </div>
        <p class="mb-0 copyright"><a class="text-decoration-none" routerLink="https://codemobix.in/home">©CodeMobix Technologies</a> 2025 All right reserved.</p>
    </div>
</div>