.footer {
  height: 100px;
  text-align: center;
  padding: 3px;
  background-color: #000;
  color: white;
  width: 100%;
}

.copyright {
  font-size: 0.9rem;

  @media screen and (max-width: 765px) {
    font-size: 0.6rem !important;
  }
}
