<div class="about-container p-3 my-3 my-md-5 mx-auto">
  <div class="heading-title mb-4 text-center"> Our Core Services</div>

  <!-- Service Block -->
  <ng-container *ngFor="let service of serviceCards; let isFirst= first">
    <div class="service-section">
      <div class="about-heading fs-4 fw-bold mt-3 mt-md-5 mb-2 mb-md-3">
        <i *ngIf="isFirst" class="fa-solid {{service.iconClasses}}"></i>
        {{service.heading}}
      </div>
      <div class="about-paragraph">
        <div class="card-box" *ngFor="let card of service.cards">
          <h3>• {{card.title}}</h3>
          <p>{{card.description}}</p>
        </div>
      </div>
    </div>
  </ng-container>