// Base
.fade-in, .fade-in-left, .fade-in-right, .fade-in-up, .slide-down, .zoom-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-out;
  &.visible {
    opacity: 1;
    transform: none;
  }
}

.fade-in-left {
  transform: translateX(-40px);
}
.fade-in-right {
  transform: translateX(40px);
}
.fade-in-up {
  transform: translateY(40px);
}
.slide-down {
  transform: translateY(-40px);
}
.zoom-in {
  transform: scale(0.8);
}

// Delay utility
.delay-1 {
  transition-delay: 0.3s;
}
.delay-2 {
  transition-delay: 0.6s;
}
.delay-3 {
  transition-delay: 0.9s;
}



.section-1 {
  .card {
    background-color: #006dc8;
    border-radius: 40px;
  }

  .banner {
    height: 25rem;
    background-image: url("https://images.unsplash.com/photo-1678995635432-d9e89c7a8fc5");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
  }

  .upper-icon, .lower-icon {
    width: 75px;
    height: 75px;
  }
  
  .upper-icon {
    background-color: yellow;
    animation: jump 9s linear infinite;
  }

  .lower-icon {
    background: #f0780d;
    animation: jump 6s linear infinite;
  }

  @keyframes jump {
    0% {
      bottom: 0px;
    }
    25% {
      bottom: 15px;
    }
    50% {
      bottom: 30px;
    }
    75% {
      bottom: 15px;
    }
    100% {
      bottom: 0px;
    }
  }
}

.section-2 {
  .expertiseCard {
    background-color: #006dc8;
    border-radius: 30px;
    color: #fff;

    &:hover {
      animation: shake 0.5s;
      border-color: #aeff00;
      .card-title {
        color: #aeff00;
      }

      .expertise-icon {
        transform: scale(1.1);
      }
    }

    .expertise-icon {
      width: 55px !important;
      height: 55px !important;
      display: flex;
      border-radius: 12px;
    }
  }

  @keyframes shake {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-1px, 1px);
    }
    40% {
      transform: translate(-1px, -1px);
    }
    60% {
      transform: translate(1px, 1px);
    }
    80% {
      transform: translate(1px, -1px);
    }
    100% {
      transform: translate(0);
    }
  }
}

@media screen and (max-width: 765px) {
  .heading-title {
    font-size: 2em;
  }

  .heading-description {
    font-size: 0.8em;
  }

  .section-1 {
    .banner {
      height: 30vh;
    }
  }
}
