.contact-us {
  .contact-form-area {
    width: 40vw;
    height: fit-content;

    input {
      height: 40px;
    }
  }

  @media screen and (max-width: 765px) {
    .contact-form-area {
      width: 95% !important;
    }
  }
}
