.about-container {
  max-width: 960px;
  color: #000;
  animation: fadeIn 1.2s ease-out;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .about-paragraph {
    h3 {
      color: #0086f8;
      font-size: 1.5rem;
      margin-top: 1.5rem;
      animation: fadeInLeft 1s ease-out;
    }

    p {
      font-size: 1.05rem;
      margin: 0.5rem 0;
      line-height: 1.7;
      animation: fadeInUp 1s ease-in;
    }

    ul {
      padding-left: 1.5rem;
      margin-top: 1rem;
      list-style: disc;

      li {
        margin-bottom: 0.6rem;
        font-size: 1.05rem;
        animation: fadeInRight 1s ease-in;
      }
    }
  }
}
